.title{
    font-family: Lobster;
    font-size: 20px;
}
.category{
    font-family: 'Fine';
    font-size:15px;
}
.text{
    font-family: 'Chunk';
    font-size: 20px;
}
button{
border: none;
}
.btn-start{
    border: none;
    font-family: 'Squid Game';
    color:#002C5E;
    background-color: #fff;
}
.btn-start:hover{
    color:#fff;
    background-color: #002C5E;
}
