<aside id="aside">
    <ng-container *ngIf="view==1 else user">
        <div class="image">
            <img src="../../../../assets/default.png" alt="profile">
        </div>
        <div class="btn">
            <button (click)="home()"><i class="fa-solid fa-house">Home</i></button>
        </div>
        <div class="btn">
            <button><i class="fa-solid fa-user"></i>Profile</button>
        </div>
        <div class="btn">
            <button><i class="fa-solid fa-list"></i>Categories</button>
        </div>
        <div class="btn">
            <button><i class="fa-solid fa-plus"></i> Add Category</button>
        </div>
        <div class="btn">
            <button><i class="fa-solid fa-brain"></i>Quiz</button>
        </div>
        <div class="btn">
            <button><i class="fa-solid fa-plus"></i>Add Quiz</button>
        </div>
        <div class="btn">
            <button (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>Logout</button>
        </div>
    </ng-container>
    <ng-template #user>
        <div class="image">
            <img src="../../../../assets/default.png" alt="profile">
        </div>
        <div class="btn">
            <button (click)="home()"><i class="fa-solid fa-house">Home</i></button>
        </div>
        <div class="btn">
            <button><i class="fa-solid fa-user">Profile</i></button>
        </div>
        <div class="btn">
            <button (click)="logout()"><i class="fa-solid fa-right-from-bracket">Logout</i></button>
        </div>
    </ng-template>
    
</aside>