<div class="container-fluid">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="category">
        <div class="card-body">
          <h5 class="card-title">Add Category</h5>
          <p class="card-text">Add category of Quiz</p>
          <a routerLink="/admin-dashboard/add-category" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="quiz">
        <div class="card-body">
          <h5 class="card-title">Add Quiz</h5>
          <p class="card-text">Add quiz in categories</p>
          <a routerLink="/admin-dashboard/add-quiz" class="btn btn-primary">Add</a>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Add Questions image">
        <div class="card-body">
          <h5 class="card-title">Add Questions</h5>
          <p class="card-text">Add questions in quiz</p>
          <a routerLink="/admin-dashboard/add-question" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>



  </div>
</div>
