<div class="row">
  <div class="col-md-4 offset-md-4">
      <img src="../../../../assets/images/file.png" alt="file upload">
  </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <mat-select matInput [(ngModel)]="selectedValue"placeholder="Select Quiz">
          <mat-option
            *ngFor="let quiz of quizes"
            value="{{quiz.quizId}}"
            >{{ quiz.title }}</mat-option>
        </mat-select>
        <div class="col-md-4">
          <input  name="fileuploading" type="file" (change)="onChange($event)">
      </div>
      <div class="row">
        <div class="col-md-3 offset-md-4">
          <button mat-raised-button color="primary" (click)="onUpload()">Upload</button>
        </div>
      </div>

  </div>




