h3{
    font-family: 'Squid Game';
    font-weight: bold;
    color: var(--blue);
}
label{
    font-family: 'Squid Game';
    font-weight: bold;
    color:var(--blue);
}
button{
    color:var(--blue);
        border: 1px solid var(--blue);
        font-size: 20px;
}
button:hover{
    color: white;
    background-color:var(--blue);
    border: 1px solid var(--blue);
    font-size: 20px;
}
